.left_menu {
    width: 500px;
    height: 500px;
    background-color: aqua;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 20px;
}
.description {
    width: 700px;
    height: 500px;
    background-color: blueviolet;
}
.container {
    display: flex;
}
